<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>speech</title>
</head>
<style>
   .hh{
   top:200px;
   left:300px;
   position:absolute;
   color:white;
   }
   .ff{
   top:300px;
   left:300px;
   position:absolute;
   color:white;
   }

</style>
<body>
<div>
    <img src="https://cdn.hipwallpaper.com/i/4/14/Q8FoLr.jpg">
    <div class="hh">
        <form action="conver" class="dd">
            <h1>ENTER THE TEXT:<input type="text" name="text" placeholder="to covert to speech"></h1>
            <input type="submit" placeholder="submit">

        </form>
    </div>
    <div class="ff">
        <form action="trans" class="dd">

            <h1>ENTER SPEECH:<input type="text" name="trans" placeholder="To desired language"></h1>
            <select name="main" required>
                <option value="None">select Language</option>
                <option value="en" id="english">English</option>
                <option value="te">Telugu</option>
                <option value="hi" >Hindi</option>
                <option value="kn">Kanada</option>
                <option value="ml">Malayalam</option>
                <option value="ta">Tamil</option>
                <option value="ur">Urdhu</option>
            </select>
            <input type="submit" placeholder="submit">

        </form>
    </div>
</div>
</body>
</html>